.DS_Store
*.out
*.test
*.log
bin/*
pkg/*
mongo/*
data/*
src/code.google.com/*
mongo.tgz
superfastmatch

src/github.com/donovanhide/mux/

src/github.com/gorilla/context/

src/github.com/gorilla/schema/
